doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0')
    title #{locals.title} | #{page.title}
    link(rel='stylesheet', href='https://code.getmdl.io/1.1.1/material.teal-red.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href=contents.stylesheets.wpl['application.css'].url)
    link(rel='shortcut icon', href=contents.images['favicon.png'].url, type='image/x-icon')
    block head
    | !{ livereloadScript }
  body
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      header.mdl-layout__header
        div.mdl-layout__header-row
          span.mdl-layout-title= page.title
        block tabNavigation
      div.mdl-layout__drawer
        nav.mdl-navigation
          span.mdl-navigation__link.wpl-navigation__title Introduction
          a.mdl-navigation__link(href=contents.index.url) Overview
          div.wpl-navigation__separator
          - var index = 0
          each subcategory, categoryTitle in contents.patterns
            span.mdl-navigation__link.wpl-navigation__title= categoryTitle
            each pages, subcategoryTitle in subcategory
              - var path = pages[Object.keys(pages)[0]].filepath.relative.replace('md', 'html')
              a.mdl-navigation__link.wpl-navigation__link(href='/#{path}' data-title=subcategoryTitle)= subcategoryTitle
            unless index == --Object.keys(contents.patterns).length
              div.wpl-navigation__separator
            - index++
      main.mdl-layout__content
        div.wpl-layout__content
          block content
            != page.html
    script(src='https://code.getmdl.io/1.1.1/material.min.js')
    script(src=contents.javascripts.wpl['application.js'].url)
    block foot
