doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0")
    title Pattern Library | #{page_title}
    
    link(rel="stylesheet", href="https://code.getmdl.io/1.1.1/material.teal-red.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", "mpl/application")
    link(rel="icon" type="image/png" href="images/favicon.png")
  body
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      header.mdl-layout__header
        div.mdl-layout__header-row
          span.mdl-layout-title #{page_title}
        if tab_navigation
          tab_navigation(patterns)
      div.mdl-layout__drawer
        nav.mdl-navigation
          span.mdl-navigation__link.mpl-navigation__title Introduction
          a(href="/index.html", class="mdl-navigation__link") Overview
          each navPoint, index in navigation
            span.mdl-navigation__link.mpl-navigation__title #{navPoint.category}
            each subcategory in navPoint.subcategories
              a(href=subcategory.link, class="mdl-navigation__link") #{subcategory.name}
            unless index == navigation.size - 1
              div.mpl-navigation__separator
      main.mdl-layout__content
        div.mpl-layout__content
          block content
    
    script(src="https://code.getmdl.io/1.1.1/material.min.js")
    script(src="mpl/application")
