extends ./layout.jade

block headTitle
  - var headTitle = env.helpers.getPatternTitle(page)
  title #{locals.title} | #{headTitle}

block headerTitle
  = env.helpers.getPatternTitle(page)

block tabNavigation
  - var patterns = page.parent
    if Object.keys(patterns).length > 1
      div.mdl-layout__tab-bar.mdl-js-ripple-effect
        each pattern, file in patterns
          a.mdl-layout__tab(href="#tab-#{parameterize(pattern.metadata.title)}" data-url=pattern.url)
            = pattern.metadata.title

block content
  each pattern, file in page.parent
    section.mdl-layout__tab-panel(id="tab-#{parameterize(pattern.metadata.title)}")
      div.page-content
        div.wpl-card-pattern.mdl-card.mdl-shadow--2dp
          div.mdl-card__title.mdl-card--expand
            h2.mdl-card__title-text= pattern.metadata.title
          div.mdl-card__supporting-text
            if pattern.metadata.description
              = pattern.metadata.description
              hr
            div.wpl-layout__source
              if pattern.metadata.use_source === false
                | !{pattern.html}
              else
                div(data-iframe)
                  | !{pattern.html}
                  each href in env.helpers.getStylesheetFiles(contents)
                    link(rel='stylesheet', href=href)
                  each src in env.helpers.getJavaScriptFiles(contents)
                    script(src=src)
            if pattern.metadata.show_code !== false
              hr
              each codeblock in pattern.html.split(/\r?\n\n/)
                div.wpl-layout__code-block
                  pre.wpl-layout__code
                    code.language-markup= codeblock
                  if pattern.metadata.clipboard !== false
                    btn.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored.wpl-button__clipboard
                      i.material-icons assignment

block head
  link(rel='stylesheet', href=contents.stylesheets.libs['prism.css'].url)

block foot
  script(src=contents.javascripts.libs['prism.js'].url)
  script(src=contents.javascripts.libs['clipboard.js'].url)
