extends ./layout.jade

block tabNavigation
  if patterns && patterns.length > 1
    div.mdl-layout__tab-bar.mdl-js-ripple-effect
      each pattern, index in patterns
        - var css_class="mdl-layout__tab #{index == 0 ? is-active}"
        a(href="#tab-#{pattern.metadata.title.parameterize}", class=css_class)
          #{pattern.metadata.title}

block content
  if patterns
    each pattern, index in patterns
      - var css_class="mdl-layout__tab #{index == 0 ? is-active}"
      section(id="tab-#{pattern.metadata.title.parameterize}" class=css_class)
        div.page-content
          div.wpl-card-pattern.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card--expand
              h2.mdl-card__title-text #{pattern.metadata.title}
            div.mdl-card__supporting-text
              if pattern.metadata.description
                = pattern.metadata.description
                hr
              div.wpl-layout__source
                if pattern.metadata.use_source == false
                  = pattern.body
                else
                  div(data-iframe)
                    = pattern.body
                    link(rel='stylesheet', href=contents.stylesheets['base.css'].url)
                    script(src=contents.javascripts['base.js'].url)
              if pattern.metadata.show_code
                hr
                code= pattern.body
